.ModalImage {
	height:  500px;
	text-align: center;
}

.ImageGallery {
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	height: 150px;
	overflow-y: auto;
	overflow-x: none;
}

.ImageGallery:empty {
   display: none;
}

@media(max-width: 764px) {
	.ModalImage {
    height: auto;
    max-height: 50%;

    width: auto;
    max-width: 100%;
}
}