.card {
	padding: 10px;
	box-sizing: border-box;
}

.tag{
	margin: 20px 10px;
	display: block;
	word-break:break-all;
}
.name {
	font-weight: bolder;
}

@media(max-width: 800px){
	.tag{
		margin: 0;
	}
	.card{
		padding:  1px;
		font-size: 0.8em;
	}

}